@import "bootstrap-variables";
@import "../../../vendor/assets/stylesheets/flatstrap/bootstrap.scss";


body {
	background-image:url('bg.png');
	background-size: 100%;
}

.outline h1 {
	visibility: hidden;
	display: none;
}

.tans-5 {
	opacity: 0.5;
}

.tans-7 {
	opacity: 0.7;
}

.tans-9 {
	opacity: 0.9;
}

.pull-down {
	vertical-align: bottom;
}

.round {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px
}

.article-title {
	width: 90%;
}

.article-textbox {
	width: 90%;
	min-height: 300px;
}

.article-box {
	width:95%;
	background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .1);
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 10px;
	border: 1px solid white;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-moz-box-shadow: 6px 6px 3px #363636;
	-webkit-box-shadow: 6px 6px 3px #363636;
	box-shadow: 6px 6px 3px #363636;
}

.article-wrapper {
	margin-top: 2%;
	margin-bottom: 2%;

	width:80%;
	background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .8);

	padding: 10px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-moz-box-shadow: 10px 10px 5px #363636;
	-webkit-box-shadow: 10px 10px 5px #363636;
	box-shadow: 10px 10px 5px #363636;
}

.login-box {
	margin-top: 75px;
	width:400px;
	background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .8);
	padding: 10px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.signup-box {
	margin-top: 2%;
	width:400px;
	background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .8);
	margin-bottom: 2%;
	padding: 10px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.width-80 {
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.width-card {
	width:620px;
	margin-left: auto;
	margin-right: auto;
}

.shadow{
  -moz-box-shadow: 10px 10px 5px #363636;
  -webkit-box-shadow: 10px 10px 5px #363636;
  box-shadow: 10px 10px 5px #363636;
}

.navbar-inner {
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}	

.sticky-header {
/* #TODO */
}

.handwritten {
    font-family: 'Gloria Hallelujah', cursive;
}

.push-5 {
  margin-right: 5%;
  margin-left: 5%;
}